.time {
    align-self: flex-end;
    white-space: nowrap;
    width: 1.5em;
    transform: rotate(-90deg);
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: bold;
}